<div class="container-fluid">
    <div class="row">
        <div class="profile-navigation--user"
             [ngClass]="{'show':onscreen === true}">
            <div class="container">
                <ProfileIcon [profile]="profile" #icon (click)="icon.takePhoto()"></ProfileIcon>
            </div>
        </div>
        <div class="profile-navigation--home profile-navigation--button col-xs-6"
             [ngClass]="{'active':active == 'HomePage'}"
            (click)="showHome()">
            <div class="container profile-navigation--button-inner">
                <CircleButton
                    contents="<span class='profile-navigation--button-icon button-icon'>
                    <img src='assets/img/icons/png/nav/home/nav-home@2x.png' /></span>
                <span class='profile-navigation--button-title'>Home</span>">
                </CircleButton>
            </div>
        </div>
        <div class="profile-navigation--wishlist profile-navigation--button col-xs-6"
             [ngClass]="{'active':active == 'WishListPage'}"
             (click)="showWishList()">
            <div class="container profile-navigation--button-inner">
                <CircleButton
                    contents="<span class='profile-navigation--button-icon button-icon'>
                    <img src='assets/img/icons/png/nav/wishlist/nav-wishlist@2x.png' /></span>
                <span class='profile-navigation--button-title'>Wish List</span>">
                </CircleButton>
            </div>
        </div>
    </div>
</div>
