ProfileNavigation, .profile-navigation {

    $height: 8.5rem;
    display: block;
    height: $height;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;

    //@include AnimateTranslateUp;
    //animation-delay: 0.5s;

    .container {
        max-width: 100%;
    }

    .profile-navigation--button {
        max-height: $height;
        height: $height;
        padding: 0;
        border-top: 2.5rem solid transparent;
        .profile-navigation--button-inner {
            padding: 0;
            box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15);
        }
        CircleButton {
            width: 60%;
            max-width: 11.25rem;
            margin: -2.5rem auto 0;

            .circle-wrapper {
                border: none;
            }

            position: relative;
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
                box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15);
                z-index: -1;
            }
        }
    }

    .profile-navigation--button-icon {
        max-width: 40%;
    }

    .profile-navigation--button-title {
        display: block;
        font-size: 1.2rem;
        padding: 0.25em 0;
    }

    .profile-navigation--home {
        .profile-navigation--button-inner {
            background-color: #FFF;
            @media all and (max-width: 40rem) {
                CircleButton {
                    float: left;
                    margin-left: 1rem;
                }
            }
            .circle-button {
                background-color: #FFF;
                border-color: #FFF;
            }
        }
    }
    .profile-navigation--wishlist {
        .profile-navigation--button-inner {
            background-color: $primary;
            @media all and (max-width: 40rem) {
                CircleButton {
                    float: right;
                    margin-right: 1rem;
                }
            }
            .circle-button {
                background-color: $primary;
                border-color: $primary;
            }
        }
    }

    .profile-navigation--button {
        $bg: #FFF;
        .profile-navigation--button-inner {
            transition: all $speed $ease;
            height: 100%;
            background-color: $bg;
            .circle-button {
                background-color: $bg;
                border-color: $bg;
                color: $green-dark;
                padding-bottom: 80%;
            }
        }
        &:hover {
            $bg: $green-dark;
            .profile-navigation--button-inner {
                background-color: $bg;
                .circle-button {
                    background-color: $bg;
                    border-color: $bg;
                    color: #FFF;
                }
            }
        }
        &.active {
            $bg: $red;
            .profile-navigation--button-inner {
                background-color: $bg;
                .circle-button {
                    background-color: $bg;
                    border-color: $bg;
                    color: #FFF;
                }
            }
        }
    }

    .profile-navigation--user {
        $size: 40%;
        position: absolute;
        top: 0;
        left: ((100% - $size) / 2);
        width: $size;
        z-index: 5;
        padding: 0;

        //transform-origin: center center;
        //opacity: 0;
        transition: transform ($speed * 3) $ease-snap, opacity ($speed * 1.5) $ease $speed;

        &.show {
            transform: scale(1);
            opacity: 1;
        }

        .container {
            padding: 0;
        }
        CircleButton {
            margin: 0 auto;
        }
        .circle-button {
            border-color: $sears-blue;
            background-color: $grey-light;
        }
        @at-root {
            html.csstransforms3d {
                .profile-navigation--user {
                    max-width: 13rem;
                    left: 50%;
                    transform: translate3d(-50%, 0%, 0) scale(0);
                    &.show {
                        transform: translate3d(-50%, 0, 0) scale(1);
                    }
                    &:hover {
                        transform: translate3d(-50%,-25%,0);
                    }
                }
            }
        }
    }

}

.profile-navigation--container {
    &::before, &::after {
        display: none !important;
    }
}
