<div class="profile-wishlist--card bg--white">
    <div class="profile-wishlist--card-inner wrapper clearfix">
        <div class="profile-wishlist--card-thumbnail col-xs-3 no-padding">
            <img src="{{ product.image }}" />
        </div>
        <div class="profile-wishlist--card-name col-xs-6">
            <p>{{ product.name }}</p>
        </div>
        <div class="profile-wishlist--card-price col-xs-3 text-right no-padding">
            <p><strong>{{ product.price }}</strong></p>
        </div>
    </div>
</div>
