<div class="container signup-container reverse text-center">
    <h5 class="text-light">{{"Required" | translate}}</h5>
    <h2>{{"What is your child's name?" | translate}}</h2>

    <form
        [formGroup]="signup"
        #signupForm="ngForm"
        class="form-signup"
        (submit)="handleSubmit($event)">
        <ion-item>
            <ion-label stacked>{{"Name" | translate}}</ion-label>
            <ion-input
                id="nameField"
                #nameField
                type="text"
                formControlName="name"
                maxlength="20"
                [ngClass]="{'shrink': (signup.value.name).length > 10}">

            </ion-input>
        </ion-item>
    </form>

    <SignupNext
        *ngIf="signup.valid"
        (click)="signupNext()">
    </SignupNext>

</div>
