<div class="onboarding-page container reverse text-center">

    <div class="">
        <div class="onboarding-hero">
            <div class="wrapper">
                <img src="assets/img/onboarding/ob-3.png"/>
            </div>
        </div>
    </div>

    <div class="onboarding-nav">
        <ul>
            <li>
                <a></a>
            </li>
            <li>
                <a></a>
            </li>
            <li class="active">
                <a></a>
            </li>
            <li>
                <a></a>
            </li>
        </ul>
    </div>

    <div class="onboarding-copy">
        <section>
            <h3 class="onboarding-copy--title">{{"Make a list" | translate}}</h3>
            <p>{{"Now that you’ve made a profile, it’s time to let them create their own perfect Christmas wish
                list." | translate}}</p>
            <p>{{"So pass over your device, put your feet up and relax!" | translate}}</p>
        </section>
    </div>

</div>
