SignupNext {
    display: block;
    padding: 2em 0;
    margin: 0 auto;
    cursor: pointer;
    @include AnimateFadeInUp;

    @media screen and (max-height: 568px) {
        padding: 1em 0;
    }

    p {
        font-size: 1.2rem;
        font-weight: 100;
    }

    .signup-next--button {
        $size: 4.5rem;
        $border: ($size / 15);

        display: block;
        width: $size;
        height: $size;
        border-radius: 50%;
        line-height: $size;

        background-color: transparent;
        border-width: $border;
        border-style: solid;
        border-color: #FFF;
        color: #FFF;
        font-size: ($size / 2.5);
        text-align: center;
        vertical-align: middle;
        margin: 0em auto 0.25em;

        transition: all ($speed * 2) $ease;
        transform: translate3d(0, 0, 0);

        &:hover {
            transform: translate3d(5%, 0, 0);
        }
    }

}
