<div class="profile-overview">
    <div class="profile-overview--inner container">
        <div class="profile-overview--icon-container col-xs-3">
            <ProfileIcon [profile]="profile" #icon (click)="icon.takePhoto()"></ProfileIcon>
            <h3>{{profile['name']}}</h3>
        </div>
        <div class="profile-overview--links col-xs-9">
            <div class="row">
                <div class="col-xs-4"
                    (click)="showProfileSettings(profile)">
                    <CircleButton
                        class="button-primary--container"
                        classes="button-primary"
                        contents="?"
                    >
                    </CircleButton>
                    <h4>Settings</h4>
                </div>
                <div class="col-xs-4"
                    (click)="showWishlist(profile)">
                    <CircleButton
                        class="button-primary--container"
                        classes="button-primary"
                        contents="+"
                    >
                    </CircleButton>
                    <h4>Wish List</h4>
                </div>
                <div class="col-xs-4"
                     (click)="shareProfile()">
                    <CircleButton
                        class="button-primary--container"
                        classes="button-primary"
                        contents="+"
                    >
                    </CircleButton>
                    <h4>Share</h4>
                </div>
            </div>
        </div>
    </div>
</div>
