.profile-overview {
    .profile-overview--inner {
        padding-top:0;
        padding-bottom: 1em;
        border-bottom: 1px solid $grey-light;
    }
    .profile-overview--icon-container {
        padding: 0;
    }
    .profile-overview--links {
        margin-top: 1.5em;
        .circle {
            max-width: 80%;
        }
    }
    // TODO: implement responsive titling across app
    h3 {
        font-size: 1.5rem;
        margin: 0 auto;
    }
    h4 {
        font-size: 1.2rem;
    }
}
