<div class="onboarding-page container reverse text-center">

    <div class="">
        <div class="onboarding-hero">
            <div class="wrapper">
                <img src="assets/img/onboarding/ob-1.png"/>
            </div>
        </div>
    </div>

    <div class="onboarding-nav">
        <ul>
            <li class="active">
                <a></a>
            </li>
            <li>
                <a></a>
            </li>
            <li>
                <a></a>
            </li>
            <li>
                <a></a>
            </li>
        </ul>
    </div>

    <div class="onboarding-copy">
        <section>
            <h3 class="onboarding-copy--title">{{"Create a profile" | translate}}</h3>
            <p>{{"Set-up individual profiles for anyone who will be creating a wish list." | translate}}</p>
            <p>{{"You can refine each profile so each product feed is completely personalized and tailored for a
                specific user." | translate}}</p>
        </section>
    </div>

</div>
