<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"Wish Book" | translate}}</ion-title>
        <ion-buttons end>
            <button class="list-grid--toggled" (click)="swapGrid()">
                <i class="icon-grid" *ngIf="fullwidth === true"></i>
                <i class="icon-single" *ngIf="fullwidth !== true"></i>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="bg--grey-light">

    <div *ngIf="showLoading" class="wrapper">
        <div class="loading-content vertically-centered text-center">
            <div class="container">
                <LoadingIndicator></LoadingIndicator>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <ion-list class="products-list clearfix">
                <div ion-product
                     *ngFor="let p of products; let i = index;"
                     [ngClass]="{'col-xs-12 product-fullwidth':fullwidth === true,
                     'col-xs-6 col-md-4 col-lg-3 product-grid':fullwidth !== true}"
                >
                    <ProductCard
                        [product]=p
                        [isSaved]=p.inWishlist
                        [expanded]="fullwidth"
                        (click)="showProductDetail(p)"
                    >
                    </ProductCard>
                </div>
            </ion-list>
        </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)" threshold="30%">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<!--<ion-footer class="products-list&#45;&#45;footer" [ngClass]="{'show':onscreen === true}">-->
<!--<div class="row">-->
<!--<div class="button-select&#45;&#45;container" (click)="showWishList()">-->
<!--<div class="button-action button-big"><span>{{"See Your Wish List" | translate}}</span></div>-->
<!--</div>-->
<!--</div>-->
<!--</ion-footer>-->

<ProfileNavigation [profile]="profile"></ProfileNavigation>
