.toolbar-content {
    .list-grid--toggle {
        position: absolute;
        right: 0.5rem;
        top: 0;
        height: 100%;
        ion-icon, i {
            line-height: 1.2em;
        }
    }
}
.platform-ios {
    .list-grid--toggle {
        padding-top: 20px;
    }
}

html.flexbox {
    .list-grid--toggle {
        display: flex;
        flex: 1;
        align-items: center;
        transform: translateZ(0);
    }
}

.products-list {
    max-width: 60rem;
    padding: 2em 1em;
    margin: 0 auto 1em;
    [ion-product] {
        padding-left: 0.5em;
        padding-right: 0.5em;
        &.product-fullwidth {
            margin-bottom: 2em;
        }
    }
}

.products-list--footer {
    transition: all ($speed * 2) $ease;
    transform: translate3d(0, 100%, 0);
    &.show {
        transform: translate3d(0, 0, 0);
    }
}

.list-page {
    .scroll-content {
        margin-bottom: 0px !important;
    }
}
