<!--<div class="button-select profile-icon&#45;&#45;container responsive-bg&#45;&#45;container">-->
<!--<div class="profile-icon&#45;&#45;photo responsive-bg {{bg_class}}"-->
<!--[ngStyle]="{'background-image': ' url(' +profile.photo + ')'}">-->
<!--</div>-->
<!--</div>-->

<CircleButton
    class="button-select--container"
    [classes]="bg_class+' button-select'"
    [backgroundImage]="profile.photo"
>
</CircleButton>

<!--<div class="circle button-select&#45;&#45;container">-->
<!--<div class="circle-button button-select">-->
<!--<div class="circle-wrapper responsive-bg {{bg_class}}"-->
<!--[ngStyle]="{'background-image': ' url(' +profile.photo + ')'}">-->
<!--<div class="circle-center">-->
<!--<div class="circle-text">-->
<!--{{ profile.name }}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
