ProfileIcon, .profile-icon {
    display: block;
    margin: 0 auto;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;

    .profile-icon--container {
        @include ButtonCircularCTA();
    }

    .circle-wrapper {
        background-color: #FFF;
    }
    .responsive-bg--fit .responsive-bg,
    .responsive-bg--fit.responsive-bg {
        background-size: 80% auto;
        background-position: center center;
    }

}
