ProductCard {
    display: block;
}

.product-card {
    // margin: 15px 0;

    &.expanded {
        background-color: #FFF;
        padding: 1em;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        .product-card--bucket {
            box-shadow: none;
        }
        .product-card--thumb {
            border-width: 0;
        }
    }

    .product-card--bucket {
        background: #FFF;
        box-shadow: 0px 1px 0.5em rgba(0, 0, 0, 0.15);
        cursor: pointer;

        width: 100%;
        height: 0px;
        padding-bottom: 100%;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .product-card--thumb {
        border: 0.5em solid transparent;
        transform: translateZ(0) scale(1);
        transition: transform $speed $ease, opacity $speed $ease;
    }

    .product-select {
        width: 100%;
    }
    selectButton,
    .selectButton {

        $btnSize: 4.5rem;
        $btnText: $btnSize / 2;
        $padding: 1rem;

        display: block;
        position: relative;
        margin: ((($btnSize /2) + $padding) * -1) auto 0;
        cursor: pointer;
        z-index: 2;
        transform: translate3d(0,0,0);

        .wrapper {
            padding: $padding 0;
        }

        .selectCta,
        selectCta {
            &:not(.selected) {
                background-color: #FFF;
            }
            @include ButtonCircularCTA($btnSize, $btnText);
        }

        //&:hover, &:active {
        //    .selectCta,
        //    selectCta {
        //        transform: scale(1.2);
        //    }
        //}

    }

}

.product-card--wish-list {

    .product-card:not(.selected) {
        .product-card--bucket {
            .product-card--thumb {
                opacity: 0.6;
                transform: scale(0.9);
            }
        }
        &:hover {
            .product-card--bucket {
                .product-card--thumb {
                    opacity: 0.8;
                    transform: scale(1);
                }
            }
        }
    }
}

.product-card--expanded-info {
    border-top: 1px solid $grey-lightest;
    padding: 1em 0;
    .container {
        max-width: 100%;
    }
    .product-card--name {
        font-size: 1.6rem;
        font-weight: 400;
    }
    .product-card--expanded-select {
        width: 20%;
        margin-left: 5%;
        .circle-button {
            box-shadow: 0 2px 5px 0 $grey-light;
            transform: scale(1);
            transition: all $speed $ease, transform ($speed * 2) $ease-snap;
            &.selected {
                transform: scale(1.2);
            }
        }
        .circle-wrapper {
            border-width: 0.333rem;
        }
    }
}

html.flexbox {
    .product-card--expanded-info {
        display: flex;
        width: 100%;
        align-items: center;
        > .container {
            width: 100%;
            display: flex;
            align-items: center;
        }
        .product-card--name {
            display: flex;
            order: 0;
            max-width: 75%;
            text-align: left;
        }
        .product-card--expanded-select {
            order: 1;
            margin-left: auto;
        }
    }

}
