<div class="product-card"
     [ngClass]="{'selected': isSaved === true, 'expanded': expanded === true}">
    <div class="product-card--bucket responsive-bg--container text-center">
        <div class="product-card--thumb responsive-bg responsive-bg--fit"
             [ngStyle]="{'background-image': ' url(' + product.image + '?w=600)'}"></div>
    </div>
    <button class="selectButton"
            (click)="toggleSelected($event)"
            *ngIf="!expanded">
        <div class="wrapper button-select--container">
            <div class="selectCta button-select cta" [ngClass]="{'selected': isSaved === true}">
                <!--<span class="select-cta&#45;&#45;icon select-cta&#45;&#45;icon-select icon-add" *ngIf="!isSaved"></span>-->
                <!--<span class="select-cta&#45;&#45;icon select-cta&#45;&#45;icon-selected icon-check" *ngIf="isSaved"></span>-->
                <i class="icon-{{isSaved ? icons.selected : icons.default}}"></i>
            </div>
        </div>
    </button>
    <div class="container-fluid"
         *ngIf="expanded === true">
        <div class="product-card--expanded-info"
             (click)="toggleSelected($event)">
            <div class="product-card--expanded-select float-right">
                <CircleButton
                    classes="button-select cta {{isSaved ? 'selected': 'unselected'}}"
                    icon="{{isSaved ? icons.selected : icons.default}}">
                </CircleButton>
            </div>
            <h4 class="product-card--name">
                {{product.name | translate}}
            </h4>
        </div>
    </div>
</div>
