.row-fluid {
    margin-left:-0.5rem;
    margin-right: -0.5rem;
    @extend .clearfix;
    //[class*='col-']:not(:first-child) {
    //    padding-left: 0;
    //}
}

page-home {
    .row, .row-fluid {
        margin-bottom: 2em;
    }
    .home-bucket {
        height: 0px;
        padding-bottom: 100%;
        color: #FFF;
        position: relative;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

        HomeCard, .home-card {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .feature {
        .home-bucket {
            padding-bottom: 50%;
            &::before {
                content: '';
                display: block;
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.12);
            }
        }
    }

    @media screen and (min-width:48rem) {
        .feature, .hero {
            .home-bucket {
                padding-bottom: 0;
                height: 40rem;
            }
        }
    }
}
