<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"Home" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 no-padding hero">
                <div class="home-bucket bg--white">
                    <HomeOnboardingCard
                        class="green"
                        [name]="profile.name"
                        (click)="showListPage(profile)"></HomeOnboardingCard>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-xs-6">
                <div class="home-bucket bg--red">
                    <HomeCard class="red" title="Wish Book" (click)="showListPage(profile)"></HomeCard>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="home-bucket bg--green">
                    <HomeCard class="green" title="Featured"></HomeCard>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 no-padding feature">
                <div class="home-bucket bg--white">
                    <HomeCard class="white featured" title="Check this out"></HomeCard>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-xs-6">
                <div class="home-bucket bg--green">
                    <HomeCard class="green" title="Your Wish List" (click)="showWishList()"></HomeCard>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="home-bucket bg--red">
                    <HomeCard class="red" title="Reindeer Game"></HomeCard>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<!--<ion-footer class="profile-navigation&#45;&#45;container">-->
    <ProfileNavigation [profile]="profile"></ProfileNavigation>
<!--</ion-footer>-->
