<div class="responsive-bg bg-holiday--green responsive-bg--fit responsive-bg--repeat"></div>
<div class="wrapper reverse">
    <h2 class="home-card--title"><strong>{{ name }},<br /> are you ready to make your Wish List?</strong></h2>
    <div class="circle-container circle-small">
        <CircleButton
            classes="button-select cta"
            icon="next">
        </CircleButton>
        <p class="lead">Yeah!<br/>Let's go!</p>
    </div>
</div>
<div class="home-card--footer"></div>
