<form [formGroup]="settingsEmail" (submit)="handleSubmit($event)" #settingsEmailForm="ngForm" class="form-settings">
    <ion-item>
        <ion-label stacked>
            <strong>{{"Santa's Email" | translate}}</strong>
            <!--<ion-icon (click)="showAlert($event)" name="alert" class="float-right">-->
            <!--</ion-icon>-->
            <i class="icon-info float-right"
               (click)="showAlert($event)">
            </i>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-input type="email" formControlName="email" placeholder="Email Address" [(value)]="santaEmail"></ion-input>
    </ion-item>
    <div class="form-group form-repeating" formArrayName="helper_emails">
        <ion-item>
            <label stacked>
                <strong>{{"Santa's Helpers" | translate}}</strong>
            </label>
            <!--<ion-icon name="add-circle"-->
                      <!--class="float-right"-->
                      <!--(click)="addHelper($event)"-->
                      <!--*ngIf="settingsEmail['value']['helper_emails'].length < max_helpers">-->
            <!--</ion-icon>-->
            <i class="icon-add-circle float-right"
               (click)="addHelper($event)"
               *ngIf="settingsEmail['value']['helper_emails'].length < max_helpers">
            </i>
        </ion-item>
        <div *ngFor="let helper_email of settingsEmail.controls.helper_emails.controls; let i=index">
            <div class="helper-email--wrapper" [formGroupName]="i">
                <ion-item>
                    <ion-label stacked class="hidden">{{"Santa's Helper Email" | translate}}</ion-label>
                    <ion-input type="email" formControlName="helper_email"
                        placeholder="Santa's Helper Email"></ion-input>
                </ion-item>
            </div>
        </div>
    </div>
    <!--<button class="button-big button-primary" type="submit" [disabled]="!settingsEmail.valid">-->
        <!--{{"Submit" | translate}}-->
    <!--</button>-->
</form>
