.section-settings {
    .container {
        max-width: 48rem;
    }
    button[type="submit"] {
        width: 100%;
    }
}

.form-settings {

    padding-bottom: 1em;
    margin-bottom: 3em;

    .form-group {
        background-color: #FFF;
        padding: 1em 0;
        margin-bottom: 1em;
        border-top: 1px solid $grey-light;
    }

    .item {
        background-color: transparent;
        padding: 0 1em;
        .item-inner {
            border-bottom: none;
        }
    }

    .item ion-label,
    .item-input ion-label,
    .item-select ion-label,
    .item-datetime ion-label, label {
        color: #000;
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 0.5em;
    }

    input {
        background-color: #FFF;
        border: 1px solid;
        border-color: $grey-medium;
        padding: 1rem;
        font-size: 16px;
    }

    ion-list[radio-group] {
        ion-list-header {
            font-size: 1.6rem;
            color: #000;
            border: none;
            text-transform: none;
            letter-spacing: normal;
        }
    }
    .item-radio {
        float: left;
        width: 33.33%;
        padding: 0 0.5em;
        text-align: center;
        flex-direction: column;

        .item-inner {
            padding-right: 0;
        }
        ion-label {
            font-size: 75%;
            margin: 0 auto;
            font-weight: 400;
            line-height: 1.2em;
            transition: all $speed $ease;
        }
        .radio-icon {
            $size: 4.5rem;
            width: $size;
            height: $size;
            border-radius: 50%;
            margin: 0 auto;
            background-color: #FFF;
            border: ($size / 8) solid $primary;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
            transition: background $speed $ease;
        }
        ion-radio {
            width: 100%;
            margin: 1rem 0;
        }
        .radio-inner {
            display: none;
        }

        &.item-radio-checked {
            ion-label {
                color: inherit;
            }
            .radio-icon {
                background-color: $primary;
            }
        }

    }
    ion-list[radio-group] > .item:last-child,
    ion-list[radio-group] > .item-wrapper:last-child .item {
        border: none;
    }

    .button[type="submit"] {
        margin-top: 1em;
    }
}

