<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"Email Settings" | translate}}</ion-title>
        <ion-buttons end>
            <button class="green button-medium" (click)="submitForm()">{{"Done" | translate}}</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="bg--grey-light">
    <settingsEmailForm
        [santaEmail]="santaEmail"
        [helpEmails]="helperEmails"></settingsEmailForm>
    <!--<settingsEmailForm
        [account]="account"></settingsEmailForm>-->
</ion-content>
