// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;

$sears-blue: #50B8E3;
$grey-medium: #969696;
$grey-light: #D8D8D8;
$grey-lightest: #F1F1F1;
$grey-warm: #bfbfbf;
$off-white: #EAE5DF;
$green: #5E9C41;
$green-dark: #4A6A1D;
$red: #C82431;
$red-dark: #76232F;

$primary: $green;

$trans_speed_default: 187.5ms;
$trans_ease_default: cubic-bezier(0.4, 0, 0.2, 1);
$ease: $trans_ease_default;
$speed: $trans_speed_default;
$ease-snap: cubic-bezier(0.175, 0.885, 0.32, 1.275);


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    $primary,
  secondary:  $green-dark,
  danger:     $red,
  light:      $grey-lightest,
  dark:       #000,
  favorite:   $sears-blue
);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
