<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="logo">{{"Profiles" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="profiles-list bg-holiday--red">
    <div class="container reverse text-center">
        <!--List profiles-->

        <div *ngFor="let profile of profiles; let i = index;" class="col-xs-6 col-md-4 col-lg-3">
            <!--<div class="button-select&#45;&#45;container circle">-->
            <!--<div class="circle-button button-select">-->
            <!--<div class="circle-wrapper responsive-bg" [ngClass]="{'responsive-bg&#45;&#45;fit': profile.photo && profile.photo.includes('default')}"-->
            <!--[ngStyle]="{'background-image': 'url('+profile.photo+')'}">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <ProfileIcon #icon [profile]=profile (click)="icon.checkForPhoto()"></ProfileIcon>
            <p>{{profile.name | translate}}</p>
        </div>

        <div [ngClass]="{'profiles-empty': profiles.length == 0, 'col-xs-6 col-md-4 col-lg-3': profiles.length > 0}"
             *ngIf="profiles.length < 8">
            <div class="profiles-add" (click)="showSignupPage()">
                <div class="wrapper text-center reverse button-select--container">
                    <h3 *ngIf="profiles.length == 0">{{"No profiles found" | translate}}</h3>


                    <CircleButton class="button-select--container"
                                  classes="button-select cta"
                                  icon="add">
                    </CircleButton>

                    <p *ngIf="profiles.length > 0">{{"Add profile" | translate}}</p>
                    <div class="container">
                        <p class="lead profiles-empty--caption" *ngIf="profiles.length == 0">{{"Get started by adding your first profile." |
                            translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
