.profiles-empty {
    margin-top: 6em;
    .profiles-add {
        margin-top: 6em;

        .button-select--container {
            cursor: pointer;
        }

        CircleButton {
            max-width: 12rem;
            margin: 2em auto;
        }
    }
}
.profiles-empty--caption {
    font-size: 1.6em;
    font-weight: 400;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.profiles-list {
    SelectCTA, .selectCta, ProfileIcon .profile-icon--container {
        @include ButtonCircularCTA(12rem, 6rem);
        margin: 1em auto;
    }
}

// Mobile landscape styles
@media all and (orientation: landscape) and (max-height: 48rem) {
  .profiles-list {
      ProfileIcon, CircleButton {
          max-width: 16rem;
      }
  }
}
