<div class="modal-inner container vertically-centered">
    <div class="modal-content text-center">
        <div class="container">
            <h3>{{ alertData.title | translate }}</h3>
            <p [innerHTML]="alertData.body">
            </p>
        </div>
    </div>
    <div class="modal-cta text-center reverse">
        <div class="row">
            <div *ngFor="let button of alertData.buttons; let i = index;" [class]="cssClass">
                <div [class]="button.divClasses">
                    <CircleButton
                        [classes]="button.classes"
                        [contents]="button.content"
                        (click)="button.handler(viewCtrl)"
                    ></CircleButton>
                    <p>{{ button.text | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
