<form [formGroup]="signup"
      (submit)="handleSubmit($event)"
      #signupForm="ngForm"
      class="form-settings">

    <div class="form-group">
        <ion-item>
            <ion-label stacked>{{"Name" | translate}}</ion-label>
            <ion-input type="text" formControlName="name" value="{{profile.name}}"></ion-input>
        </ion-item>
    </div>

    <div class="padded">
        <p class="font-light grey">Optional</p>
    </div>

    <div class="form-group clearfix">
        <ion-item>
            <ion-label stacked>{{"Age" | translate}}</ion-label>
            <ion-input type="number" formControlName="age" value="{{profile.age}}"></ion-input>
        </ion-item>

        <ion-list radio-group ngControl="gender">
            <ion-list-header>
                Gender
            </ion-list-header>
            <ion-item>
                <ion-label>{{"Neutral" | translate}}</ion-label>
                <ion-radio value="" [checked]="profile.gender == 'neutral'"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>{{"Male" | translate}}</ion-label>
                <ion-radio value="boy" [checked]="profile.gender == 'boy'"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>{{"Female" | translate}}</ion-label>
                <ion-radio value="girl" [checked]="profile.gender == 'girl'"></ion-radio>
            </ion-item>
        </ion-list>

        <div class="item-block item no-flex hidden">
            <ion-label class="fullwidth">Areas of Interest</ion-label>
            <button class="button-clear">Edit selected interests</button>
        </div>

    </div>

    <p class="faded">
        <small>This information helps personalize the product feed for the intended user.</small>
    </p>
    <!--<button class="button-big button-primary"-->
            <!--type="submit">-->
        <!--{{"Submit" | translate}}-->
    <!--</button>-->
    <!--<button class="button-big button-primary"-->
            <!--type="submit"-->
            <!--[disabled]="!signup.valid">-->
        <!--{{"Submit" | translate}}-->
    <!--</button>-->
    <!--<button class="button-medium button-delete"-->
            <!--type="submit"-->
            <!--[disabled]="!signup.valid">-->
        <!--{{"Delete Profile" | translate}}-->
    <!--</button>-->
</form>
