@mixin ButtonCircularCTA($size: 4rem,$text: 2rem) {
    $border: $size / 15;
    width: $size;
    height: $size;
    line-height: $size;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    border-width: $border;
    border-radius: 50%;
    box-shadow: 0 1px 1em rgba(0, 0, 0, 0.25);
    transform: scale(1);

    .button-circular--inner {
        width: 100%;
        padding: 0 $border;
    }

    .select-cta--icon {
        display: inline-block;
        height: 100%;
        font-size: $text;
        //line-height: ($size - ($border * 2));
        line-height: $size;
        //&.select-cta--icon-select {
        //    $zoom: 1.333;
        //    font-size: $text * $zoom;
        //    line-height: 1em * $zoom;
        //}
    }
    ion-icon, i {
        font-size: $text;
        line-height: $size;
    }
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    &.disabled, [disabled] {
        cursor: not-allowed;
    }
}

.button {
    border-radius: 0;
    background-color: $primary;
    text-transform: uppercase;
}

[class^="button-"], .button-generic {

    &:not(.button-inner) {
        cursor: pointer;
        text-align: center;
        //transition: all $speed $ease;
    }

    //span {
    //    transition: font-size $speed $ease;
    //}

    &.disabled, &.disabled:hover, &.disabled:active {
        background: $grey-warm;
        border-color: $grey-medium;
        cursor: not-allowed;
        pointer-events: none !important;
    }
}

.button-medium {
    padding: 0.5em 1em;
    font-size: 1.6rem;
    line-height: 1em;
}

.button-big {
    padding: 0.6em 1em;
    font-size: 2rem;
    line-height: 1em;
}

.button-clear {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1em;
    padding: 0.6em 1em;
    color: inherit;
    border-style: solid;
    border-width: 2px;
    border-color: inherit;
}

.button-close {
    $btnSize: 2.5rem;
    width: $btnSize;
    .circle {
        margin: 0 auto;
    }
    .circle-wrapper {
        border-width: 3px;
    }
    .circle-text {
        font-size: ($btnSize / 3);
        i {
            //font-size: 1em;
        }
    }
}

//.button-close {
//    $btnSize: 2.5em;
//    width: $btnSize;
//    height: $btnSize;
//    line-height: $btnSize;
//    font-size: ($btnSize / 2);
//    border-radius: 50%;
//    position: relative;
//    transition: all $speed $ease;
//
//    span, i {
//        line-height: $btnSize;
//    }
//}

.button-action {
    background: $primary;
    border: 1px solid darken($primary, 10%);
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 105%;
        height: 0px;
        padding-bottom: 100%;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0);
        transform-origin: center center;
        background: $green-dark;
        transition: all $speed $ease;
        z-index: 0;
        opacity: 0.5;
    }

    span {
        position: relative;
        z-index: 1;
    }

    &:active, &.selected {
        &:after {
            opacity: 1;
            transform: translate3d(-50%, -50%, 0) scale(1);
        }
    }

}

.button-primary {
    background-color: $primary;
    border-color: $primary;
    color: #FFF;
}

.button-select {
    background-color: #FFF;
    color: $grey-warm;
    border-style: solid;
    border-color: $grey-light;

    &.cta {
        color: $primary;
    }

    @at-root {
        html.no-touch {
            .button-select:hover {
                color: $green;
                border-color: $green;
            }
        }
    }

    &:active, &.active, &.selected {
        color: #FFF !important;
        background: $green;
        border-color: $green;
    }
}

.button-select--container {

    @at-root {
        html.no-touch {
            .button-select--container:hover {
                .button-select:not(.selected) {
                    color: $green;
                    border-color: $green;
                }
            }
        }
    }

    &:active {
        .button-select {
            color: #FFF !important;
            background: $green;
            border-color: $green;
        }
    }
}

.button-remove {
    color: $grey-warm;
    border: 3px solid $grey-warm;

    @at-root html.no-touch {
        .button-remove:hover {
            color: $red;
            border-color: $red;
        }
    }

    &:active, &.selected {
        color: #FFF !important;
        background: $red;
        border-color: $red;
    }
}

.button-delete {
    background-color: $red;
    border-color: $red;
    color: #FFF;
    &:hover {
        background-color: $red-dark;
        border-color: $red-dark;
        color: #FFF;
    }
}

.selectCta,
.removeCta,
selectCta,
removeCta{
    display: block;
    background-color: #FFF;
    transition: all $speed $ease;
    @include ButtonCircularCTA();
}
