$header-bg: #FFF;
$header-color: #000;

ion-header {
    ion-icon, i {
        font-size: 2em;
    }
    .bar-buttons-md {
        order: 1;
    }
}
.toolbar-background {
    background: $header-bg
}

ion-title {
    .toolbar-title {
        color: $header-color;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.75rem;
    }
    &.logo {
        .toolbar-title {
            height: 50%;
            max-height: 30px;
            text-indent: -9999px;
            background-image: url("../assets/img/branding/sears-logo-black.png");
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.bar-button-default {
    color: $header-color;;
    &:hover:not(.disable-hover) {
        color: lighten($header-color, 10%);
    }
}

.back-button-text {
    display: none;
}

ion-header::after,
[tabsPlacement="top"] > ion-tabbar::after,
ion-footer::before,
[tabsPlacement="bottom"] > ion-tabbar::before {
    //display: none;
}
