$icomoon-font-path: "../assets/fonts/wishbook-icons" !default;

$icon-unhappy-wifi: "\e900";
$icon-add-big: "\e901";
$icon-add-circle: "\e902";
$icon-add: "\e903";
$icon-button-next: "\e904";
$icon-camera: "\e905";
$icon-check-big: "\e906";
$icon-check: "\e907";
$icon-close-big: "\e908";
$icon-close-circle: "\e909";
$icon-close: "\e90a";
$icon-drop-down: "\e90b";
$icon-grid: "\e90c";
$icon-hammy: "\e90d";
$icon-heart-outline: "\e90e";
$icon-heart-solid: "\e90f";
$icon-hide-share: "\e910";
$icon-info: "\e911";
$icon-more-images: "\e912";
$icon-next: "\e913";
$icon-retake: "\e914";
$icon-show-share: "\e915";
$icon-single: "\e916";

@font-face {
    font-family: 'wishbook-icons';
    src: url('#{$icomoon-font-path}/wishbook-icons.ttf?fjuqf9') format('truetype'),
    url('#{$icomoon-font-path}/wishbook-icons.woff?fjuqf9') format('woff'),
    url('#{$icomoon-font-path}/wishbook-icons.svg?fjuqf9#wishbook-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wishbook-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-unhappy-wifi {
    &:before {
        content: $icon-unhappy-wifi;
    }
}

.icon-add-big {
    &:before {
        content: $icon-add-big;
    }
}

.icon-add-circle {
    &:before {
        content: $icon-add-circle;
    }
}

.icon-add {
    &:before {
        content: $icon-add;
    }
}

.icon-button-next {
    &:before {
        content: $icon-button-next;
    }
}

.icon-camera {
    &:before {
        content: $icon-camera;
    }
}

.icon-check-big {
    &:before {
        content: $icon-check-big;
    }
}

.icon-check {
    &:before {
        content: $icon-check;
    }
}

.icon-close-big {
    &:before {
        content: $icon-close-big;
    }
}

.icon-close-circle {
    &:before {
        content: $icon-close-circle;
    }
}

.icon-close {
    &:before {
        content: $icon-close;
    }
}

.icon-drop-down {
    &:before {
        content: $icon-drop-down;
    }
}

.icon-grid {
    &:before {
        content: $icon-grid;
    }
}

.icon-hammy {
    &:before {
        content: $icon-hammy;
    }
}

.icon-heart-outline {
    &:before {
        content: $icon-heart-outline;
    }
}

.icon-heart-solid {
    &:before {
        content: $icon-heart-solid;
    }
}

.icon-hide-share {
    &:before {
        content: $icon-hide-share;
    }
}

.icon-info {
    &:before {
        content: $icon-info;
    }
}

.icon-more-images {
    &:before {
        content: $icon-more-images;
    }
}

.icon-next {
    &:before {
        content: $icon-next;
    }
}

.icon-retake {
    &:before {
        content: $icon-retake;
    }
}

.icon-show-share {
    &:before {
        content: $icon-show-share;
    }
}

.icon-single {
    &:before {
        content: $icon-single;
    }
}
