.wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.flex, .flexbox {
    display: flex;
}
html.flexbox {
    display: block;
}

.no-flex, .no-flexbox {
    display: block;
    flex: none;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.vertically-centered {
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.fullwidth, full-width {
    width: 100%;
}

.bg--white, .bg-white {
    background-color: #FFF;
}
.bg--grey-light, .bg-grey-light {
    background: lighten($off-white, 6%);
}
.bg--red, .bg-red {
    background-color: $red;
}
.bg--green, .bg-green {
    background-color: $green;
}

.black {
    color: #000;
}
.green {
    color: $green;
}
.faded {
    opacity: 0.5;
}

.responsive-bg--container {
    position: relative;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.no-padding {
    padding: 0;
}

.padded {
    padding: 1em;
}

.padded-top {
    padding-top: 1em;
}

.responsive-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &.responsive-bg--fit {
        background-size: contain;
    }
    &.responsive-bg--repeat {
        background-repeat: repeat;
    }
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.float-none {
    float: none;
}
