@mixin keyframes($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@include keyframes(fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(translateUp) {
    0% {
        transform: translate3d(0, 100%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
@include keyframes(translateLeft) {
    0% {
        transform: translate3d(100%, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@include keyframes(fadeInLeft) {
    0% {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@include keyframes(fadeInUp) {
    0% {
        transform: translate3d(0,25%,0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@mixin animation($delay, $duration, $animation, $easing: 'ease-in-out') {

   -webkit-animation-timing-function: $easing;
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-timing-function: $easing;
    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards;

    animation-timing-function: $easing;
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards;
}
@mixin AnimateFadeIn {
    opacity: 0;
    @include animation(0,($speed * 3), fadeIn);
}
@mixin AnimateTranslateUp {
    transform: translate3d(0,100%,0);
    @include animation(0s,($speed * 3), translateUp, $ease);
}

@mixin AnimateFadeInUp {
    opacity: 0;
    transform: translate3d(0,25%,0);
    @include animation(0s, ($speed * 3), fadeInUp, $ease);
}

@mixin AnimateTranslateLeft {
    transform: translate3d(-100%,0,0);
    @include animation(0s,($speed * 3), translateLeft, $ease);
}
@mixin AnimateFadeInLeft {
    opacity: 0;
    transform: translate3d(-100%,0,0);
    @include animation($speed,($speed * 3), fadeInLeft, $ease);
}

@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}
}
