@media not all and (min-height: 600px) and (min-width: 768px) {
    ion-modal {
        ion-backdrop {
            visibility: visible;
        }
    }
}

ion-modal {

    .container {
        max-width: 100%;
    }

    ion-backdrop {
        opacity: 0 !important;
        transition: all $speed $ease;
    }

    &.show-page {
        ion-backdrop {
            opacity: 0.7 !important;
        }
    }

    .modal-wrapper {
        position: relative;
    }

    .modal-content {
        background: #FFF;
        padding: 2em 2em 7em;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        p {
            font-size: 1.6rem;
            line-height: 1.25em;
        }
    }

    .modal-cta {
        display: block;
        max-width: 80%;
        margin: -6rem auto 0;
    }

    .modal-cta--container {
        max-width: 9rem;
        margin: 0 auto;
        .circle-button:not(:active) {
            background-color: #FFF;
        }
    }

}

// Keep negative margin on small screens for improved vertical centering
// Otherwise, center container with CSS transforms
@media screen and (min-height: 667px) {
    html.csstransforms3d {
        ion-modal {
            .modal-cta {
                margin: 0 auto;
                transform: translate3d(0, -50%, 0);
            }
        }
    }
}
