page-onboarding {
    .swiper-slide {
        align-items: flex-start;
    }
}

ion-page.show-page.onboarding ~ .nav-decor {
    background-color: $red;
}

.onboarding-header {
    height: 10rem;
    line-height: 10rem;
    text-align: center;
    vertical-align: middle;
    opacity: 1;
    transition: all $speed $ease;

    img {
        display: inline-block;
        max-width: 21rem;
        max-height: 100%;
    }

    &::after {
        display: none;
    }

    &.hiding {
        opacity: 0;
    }

}

.onboarding-page {

    font-size: 1rem;

    &.container {
        padding-top: 2em;
        max-width: 48em;
    }

}

//img.onboarding-lockup {
//    max-width: 21em;
//    margin-bottom: 3em;
//    @include AnimateFadeIn();
//}

.onboarding-hero {
    min-height: 15em;
    border-bottom: 1px solid #FFF;
    overflow: hidden;

    height: 15rem;
    .wrapper {
        height: 100%;
    }

    //img {
    //    @include AnimateTranslateUp;
    //}

}

.onboarding-copy {

    font-weight: 200;
    padding: 0 1.5em;
    overflow: hidden;
    font-size: 1.4em;

    .onboarding-copy--title {
        font-size: 1.5em;
        margin: 0 auto 0.6em;
    }
}

.onboarding-nav {

    margin: 2em auto;

    ul {
        padding: 0;
        margin: 0 auto;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 1em;
            a {
                display: block;
                width: 1.4em;
                height: 1.4em;
                background-image: url("../assets/img/onboarding/progress-empty.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
            &.active {
                a {
                    background-image: url("../assets/img/onboarding/progress-full.png");
                }
            }
        }
    }
}

.onboarding-footer {
    padding: 2em 0;
    background-size: auto 100%;
    transition: all $speed $ease;
    transform: translate3d(0,0,0);

    &.hiding {
        transform: translate3d(0,100%,0);
    }

    &::before {
        display: none !important;
    }

}

// Slide Animations

.swiper-slide {

    $delay: $speed;

    .onboarding-hero img {
        transform: translate3d(0, 100%, 0);
        transition: transform ($speed * 3) $ease $delay;
    }

    .onboarding-copy section {
        $delay: $speed * 2;
        opacity: 0;
        transform: translate3d(100%, 0, 0);
        transition: transform ($speed * 3) $ease $delay, opacity ($speed * 2) $ease (($speed * 1) + $delay);
    }
}

.swiper-slide-active {

    .onboarding-hero img {
        transform: translate3d(0, 0, 0);
    }

    .onboarding-copy section {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
