<div class="profile-header--inner container text-center">
    <div class="row">
        <div class="profile-header--wishlist profile-header--section">
            <CircleButton classes="button-primary"></CircleButton>
            <span>Wish List</span>
        </div>
        <div class="profile-header--icon  profile-header--section">
            <ProfileIcon [profile]="profile" #icon (click)="icon.takePhoto()"></ProfileIcon>
        </div>
        <div class="profile-header--share profile-header--section" (click)="shareProfile()">
            <CircleButton classes="button-primary"></CircleButton>
            <span>Share</span>
        </div>
    </div>
    <h3>{{title}}</h3>
</div>
