ProfileHeader {
    display: block;
    .profile-header--inner {
    }
    .profile-header--section {
        display: inline-block;
        margin: 0 0.5em;
        vertical-align: middle;
    }
    .profile-header--wishlist {
        width: 5rem;
        max-width: 25%;
        CircleButton {
            max-width: 90%;
        }
    }
    .profile-header--icon {
        width: 9rem;
        max-width: 50%;
    }
    .profile-header--share {
        width: 5rem;
        max-width: 25%;
        CircleButton {
            max-width: 90%;
        }
    }
    h3 {
        font-size: 2rem;
        margin: 0.5em auto 1em;
    }

    span {
        font-size: 80%;
    }
}
