<div class="onboarding-page container reverse text-center">

    <div class="">
        <div class="onboarding-hero">
            <div class="wrapper">
                <img src="assets/img/onboarding/ob-2.png"/>
            </div>
        </div>
    </div>

    <div class="onboarding-nav">
        <ul>
            <li>
                <a></a>
            </li>
            <li class="active">
                <a></a>
            </li>
            <li>
                <a></a>
            </li>
            <li>
                <a></a>
            </li>
        </ul>
    </div>

    <div class="onboarding-copy">
        <section>
            <h3 class="onboarding-copy--title">{{"Santa's email" | translate}}</h3>
            <p>{{"A lot of time and care goes into adding the right items for a wish list, so make sure it gets sent to
                the right place!" | translate}}</p>
        </section>
    </div>

</div>
