<div class="modal-inner container vertically-centered">
    <div class="modal-content text-center">
        <div class="container">
            <h3>Excellent!</h3>
            <p>You’ve set-up a profile! Would you like to enter <span>Santa’s</span> email address to make sure any wish
                lists make it up
                to the <span>North Pole</span></p>
        </div>
    </div>
    <div class="modal-cta text-center reverse">
        <div class="row">
            <div class="col-xs-6">
                <div class="modal-cta--yes modal-cta--container">
                    <CircleButton
                        classes="button-select"
                        contents="<span class='icon-check'></span>"
                        (click)="modalContinue()"
                    ></CircleButton>
                    <p>Yes</p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="modal-cta--no modal-cta--container">
                    <CircleButton
                        classes="button-remove"
                        contents="<span class='icon-close'></span>"
                        (click)="modalClose()"
                    ></CircleButton>
                    <p>Not now</p>
                </div>
            </div>
        </div>
    </div>
</div>
