<div class="circle-button {{classes}}">
    <div class="circle-wrapper responsive-bg"
         [ngStyle]="{'background-image': bg_style}">
        <div class="circle-center">
            <div class="circle-text">
                <i *ngIf="icon !== null" class="icon-{{icon}}"></i>
                <span *ngIf="contents && icon === null" [innerHTML]="contents"></span>
            </div>
        </div>
    </div>
</div>
