.circle-container {
    margin: 0 auto;
}

.circle-xlarge {
    max-width: 18rem;
}
.circle-large {
    max-width: 15rem;
}
.circle-medium {
    max-width: 12rem;
}
.circle-small {
    max-width: 9rem;
}

.circle {
    display: block;
    margin: 1rem auto;
    font-size: 2rem;
    > div {
        overflow: hidden;
        width: 100%;
        height: auto;
        position: relative;
        padding:0 0 100%;
        border-radius: 50%;
        border-width: 0px;
        transition: all $speed $ease;
        > div {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-style: solid;
            border-width: 0.75rem;
            border-color: inherit;
            border-radius: 50%;
            > div {
                display: table;
                width: 100%;
                height: 100%;
                > div {
                    display: table-cell;
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
    }

    .button-icon {
        font-size: 4rem;
        line-height: 1em;
        img {
            height:1em;
            width: auto;
        }
    }
    ion-icon, i {
        font-size: 1.25em;
        vertical-align: middle;
    }


}
