<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"My Wish List" | translate}}</ion-title>
        <ion-buttons end>
            <button class="list-grid--toggled" (click)="swapGrid()">
                <i class="icon-grid" *ngIf="fullwidth === true"></i>
                <i class="icon-single" *ngIf="fullwidth !== true"></i>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="bg--grey-light">
    <div class="container">
        <div class="row">
            <ion-list class="products-list products-list--wish-list clearfix">
                <div
                    class="text-center"
                    *ngIf="loaded && products.length == 0">
                    <h3>You haven't added anything to your Wish List yet!</h3>
                </div>
                <div ion-product
                     *ngFor="let p of products; let i = index;"
                     [ngClass]="{'col-xs-12 product-fullwidth':fullwidth === true,
                     'col-xs-6 col-md-4 col-lg-3 product-grid':fullwidth !== true}"
                >
                    <ProductCard
                        [product]=p
                        [isSaved]=p.inWishlist
                        [expanded]="fullwidth"
                        class="product-card--wish-list"
                        (click)="showProductDetail(p)"
                    ></ProductCard>
                </div>
            </ion-list>
        </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="loadMoreWishlistProducts($event)" threshold="30%">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<ion-footer
    class="products-list--footer show">
    <div class="row">
        <div class="button-select--container"
             [ngClass]="{'disabled': isReadyToSubmit !== true}"
        >
            <div class="button-action button-big"
                 [ngClass]="{'disabled': isReadyToSubmit !== true}"
                 (click)="sendList()"
            >
                <span>{{"Send To Santa" | translate}}</span>
            </div>
        </div>
    </div>
</ion-footer>
