<ion-slides #ProductCarousel (ionDidChange)="onSlideChanged()">
    <ion-slide class="item text-center"
               *ngFor="let img of images; let i = index;">
        <img src="{{img}}"/>
    </ion-slide>
</ion-slides>

<div class="carousel-thumbnails" *ngIf="images.length > 1">
    <div class="wrapper carousel-thumbnails--inner text-center clearfix">
        <div class="carousel-thumbnail--container"
             *ngFor="let img of images; let i = index;"
             [ngClass]="{'active': i === active}"
             [style.width]="(100 / images.length) + '%'">
            <div class="carousel-thumbnail button-generic"
                 (click)="goToSlide(i)"
                 [ngStyle]="{'background-image': ' url(' + product.image + ')'}">
                <!--<img src="{{img}}" />-->
            </div>
        </div>
    </div>
</div>
