.product-details-page {

    .container {
        max-width: 40em;
    }

}

.product-details--container {
    width: 100%;
    height: 100%;
    background: rgba(darken($green-dark, 20%), 0.8);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    transition: all 400ms ease-in-out;

    .scroll-content {
        margin-bottom: 0rem !important;
        padding-bottom: 6rem;
    }

    .product-details--footer {
        transition: all $speed $ease;
        transform: translate3d(0, 0, 0);
        &::before {
            display: none !important;
        }
    }

    // Appearance changes while transitioning to previous page
    &.exiting {
        background-color: transparent;
    }
}

.product-details-content {
    width: 90%;
    left: 5%;
    top: 5%;
    max-height: 85%;
    box-shadow: 0 0 2em rgba(#FFF, 0.4);
}

.product-details {

    position: relative;

    .product-details--close {

        $touch-padding: 1rem;

        position: absolute;
        top: 0;
        right: 0;
        padding: $touch-padding;
        color: $grey-medium;
        z-index: 3;
        box-sizing: content-box;
    }

    > .container {
        padding: 2em;
        position: relative;
        max-width: 48rem;
    }

    .product-details--copy {
        padding: 0 0 2em;
    }

    > .container {
        min-height: 100%;
    }

}

.product-details--cta {

    selectCTA,
    removeCTA,
    .selectCta,
    .removeCta {
        @include ButtonCircularCTA(9rem, 4.5rem);
        $btnSpeed: ($speed * 3);
        transform: scale(1);
        transition: all ($speed * 1.5) $ease, transform $btnSpeed $ease-snap;

        &:not(.selected) {
            background-color: #FFF;
        }
    }

    .product-details--cta-prompt {
        padding: 1rem 0 0em;
        opacity: 1;
        cursor: pointer;
        position: relative;
        z-index: 0;
        color: #FFF;
        transition: opacity $speed $ease;

        &.hiding {
            opacity: 0;
        }
    }

    &.product-details--cta-toggle {

        selectCTA,
        removeCTA,
        .selectCta,
        .removeCta {
            @include ButtonCircularCTA(4rem, 2rem);
            &.selected {
                transform: scale(2);
            }
        }

        .product-details--cta-prompt {
            font-size: 75%;
        }
    }
}

// Mobile landscape styles
@media all and (orientation: landscape) and (max-height: 48rem) {
    selectCTA,
    removeCTA,
    .selectCta,
    .removeCta {
        @include ButtonCircularCTA(6rem, 3rem);
    }
}

