<!--<ion-header>-->
<!--<ion-navbar>-->
<!--<button menuToggle *ngIf="!selectedProduct">-->
<!--<ion-icon name="menu"></ion-icon>-->
<!--</button>-->
<!--<ion-title>Product Details</ion-title>-->
<!--</ion-navbar>-->
<!--</ion-header>-->

<div class="product-details--container"
     [ngClass]="{'exiting':exiting === true}">
    <ion-content class="product-details-content">
        <div *ngIf="product" class="product-details text-center">
            <div class="container">
                <ProductCarousel [product]=product></ProductCarousel>
                <div class="product-card--expanded-info"
                     (click)="toggleSelected($event)">
                        <div class="product-card--expanded-select float-right">
                            <CircleButton
                                classes="button-select cta {{isSaved ? 'selected': 'unselected'}}"
                                icon="{{isSaved ? icons.selected : icons.default}}">
                            </CircleButton>
                        </div>
                        <h4 class="product-card--name">
                            {{product.name | translate}}
                        </h4>
                </div>
            </div>
            <div class="product-details--close button-close"
                 (click)="closeDetails()">
                <CircleButton
                classes="button-remove"
                icon="close">
                </CircleButton>
            </div>
        </div>
    </ion-content>

    <ion-footer class="product-details--footer hidden">
        <div class="product-details--cta button-select--container text-center"
             *ngIf="!wishListToggle">
            <div class="selectCta button-select"
                       [ngClass]="{'selected': isSaved === true}"
                       (click)="toggleSelected($event)">
                <span class="select-cta--icon select-cta--icon-select icon-add" *ngIf="!isSaved"></span>
                <span class="select-cta--icon select-cta--icon-selected icon-check" *ngIf="isSaved"></span>
            </div>
            <p class="product-details--cta-prompt font-light" *ngIf="!isSaved">{{"Add to wishlist" | translate}}</p>
            <p class="product-details--cta-prompt font-light" *ngIf="isSaved">{{"Added to wishlist!" | translate}}</p>
        </div>

        <!--TODO - Convert to components, swap in ADD or ADD/REMOVE depending on Products List or Wish List origin-->
        <div class="product-details--cta product-details--cta-toggle text-center" *ngIf="wishListToggle">
            <div class="container">
                <div class="row">
                    <div class="col-centered col-xs-9 col-sm-8 col-md-7 col-lg-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="selectCta button-select"
                                           [ngClass]="{'selected': isSaved === true}"
                                           (click)="toggleSelected($event)">
                                    <span class="select-cta--icon select-cta--icon-select icon-add" *ngIf="!isSaved"></span>
                                    <span class="select-cta--icon select-cta--icon-selected icon-check"
                                          *ngIf="isSaved"></span>
                                </div>
                                <p class="product-details--cta-prompt font-light"
                                   [ngClass]="{'hiding': isSaved == true}">
                                    {{"Add to wishlist" | translate}}
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <div class="removeCta button-remove"
                                           [ngClass]="{'selected': isSaved == false}"
                                           (click)="toggleSelected($event)">
                                    <span class="select-cta--icon select-cta--icon-remove icon-close"></span>
                                </div>
                                <p class="product-details--cta-prompt font-light"
                                   [ngClass]="{'hiding': isSaved !== true}">
                                    {{"Remove?" | translate}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-footer>
</div>
