page-send {
  ion-content {
    color: #FFF;
  }
  .container {
    max-width: 48em;
  }
}

.list-sent--header {

  $glow: #609B46;

  padding-top: 15rem;
  h1 {
    font-size: 5rem;
    line-height: 1.1em;
    text-shadow: 0 0 1em $glow;
  }
}

.list-sent--footer {
  height: 10em;
  background-size: auto 100%;
  background-repeat: repeat-x;
    transform: translate3d(0,100%,0);
    transition: all $speed $ease;
    &.show {
        transform:translate3d(0,0,0);
    }
    &:not(.show) {
        .list-sent--restart {
            transform: translate3d(100%,0,0);
        }
    }
  &:before {
    display: none;
  }
}

.list-sent--restart {
  padding: 2em 0 0;
    transition: all ($speed * 1.25) $ease;
    transform: translate3d(0,0,0);
    transition-delay: ($speed * 1.75);
  img, svg {
    display: block;
    margin: 0 auto;
    transform: translate3d(0,0,0);
    transition: all $speed $ease;
  }
  span {
    font-size: 1.5em;
    line-height: 1.6em;
  }
  &:hover {
    img, svg {
      transform: translate3d(0,-10%,0);
    }
  }
}
