<ion-content padding class="list-sent bg-holiday--green">
  <div class="container text-center">
    <section class="list-sent--header reverse">
      <h1>{{"Your list is on its way to Santa!" | translate}}</h1>
    </section>
  </div>
</ion-content>

<ion-footer
    class="list-sent--footer bg-holiday--frame "
    [ngClass]="{'show':onscreen === true}">
  <div class="container">
    <div class="button-generic list-sent--restart reverse" (click)="restartApp()">
      <img class="" src="assets/img/icons/png/tree.png" />
      <span class="text-light">{{"Start Over" | translate}}</span>
    </div>
  </div>
</ion-footer>
