<div class="container signup-container reverse text-center">
    <h5 class="text-light">{{"Required" | translate}}</h5>
    <h2>{{"What is your primary email?" | translate}}</h2>

    <form
        [formGroup]="signup"
        #signupForm="ngForm"
        class="form-signup"
        (submit)="handleSubmit($event)">
        <ion-item>
            <ion-label stacked>{{"Email" | translate}}</ion-label>
            <ion-input
                id="emailField"
                #emailField
                type="email"
                formControlName="email"
                maxlength="254"
                [ngClass]="{'shrink-lg': (signup.value.email).length > 10,
                'shrink-md': (signup.value.email).length > 20,
                'shrink-sm': (signup.value.email).length > 30}">

            </ion-input>
        </ion-item>
    </form>

    <SignupNext
        *ngIf="signup.valid"
        (click)="signupNext()">
    </SignupNext>

</div>
