HomeCard, .home-card {
    display: block;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    text-align: center;
    overflow: hidden;

    .home-card--thumbnail {
        opacity: 0.4;
        z-index: 0;
        transform: translate3d(0,0,0) scale(1);
        transition: all ($speed * 2) $ease;
    }

    h2 {
        max-width: 90%;
        margin: 0 auto 1em;
        font-size: 2.5rem;
    }

    h3 {
        max-width: 90%;
        margin: 0 auto;
        font-size: 1.8rem;
        font-weight: 400;
    }

    &.featured {
        h3 {
            font-size: 2.4rem;
            font-weight: 700;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .home-card--footer {
        height: 1.25em;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-size: auto 200%;
        background-position: center top;
        background-repeat: repeat-x;
        opacity: 0.75;
    }
    &.red {
        .home-card--footer {
            background-image: url("../assets/img/branding/frame-holiday/holiday-frame-medium.png");
        }
    }

    &.white {
        .home-card--footer {
            background: $grey-light;
        }
    }

    &.green {
        .home-card--footer {
            background-image: url("../assets/img/branding/frame-holiday/holiday-frame-green@2x.png");
        }
    }

    .wrapper {
        transform: translate3d(0,0,0);
        transition: all ($speed * 2) $ease;
    }

    &:hover {
        .wrapper {
            transform: translate3d(0, -20%, 0);
        }
        .home-card--thumbnail {
            transform: scale(1.1);
        }
    }

}

html.flexbox {
    HomeCard, .home-card {
        display: flex;
        align-items: center;
        align-content: center;
    }
}
