<div class="responsive-bg home-card--thumbnail" style="background-image:url(http://lorempixel.com/400/400/cats/1/)"></div>
<div class="wrapper reverse">
    <h3 class="home-card--title">{{ title }}</h3>
</div>
<div class="home-card--footer"></div>
