<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"Profiles" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="profiles-overview section-settings  bg--grey-light">
    <div class="container text-center">

        <div class="profiles-empty--prompt padded text-left"
             *ngIf="profiles.length == 0">
            <p class="">{{"No Profiles yet. Add one to get started." | translate}}</p>
        </div>

        <!--List profiles-->
        <div *ngFor="let profile of profiles;"
             class="row">
            <ProfileOverview [profile]=profile></ProfileOverview>
        </div>

        <div

            class="col-xs-3"
            *ngIf="profiles.length < 8"
        >
            <div class="profiles-add"
                 (click)="showSignupPage()">
                <div class="wrapper text-center button-select--container">
                    <CircleButton
                        class="button-select--container"
                        classes="button-select"
                        contents="<span class='button-icon'>+</span>"
                    >
                    </CircleButton>
                    <p>{{"Add profile" | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
