<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ profile['name'] }}</ion-title>
        <ion-buttons end>
            <button class="green button-medium" (click)="submitForm()">{{"Save" | translate}}</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="profile-settings section-settings bg--grey-light">
    <ProfileHeader title="Profile Settings" [profile]="profile"></ProfileHeader>
    <div class="container">
        <ProfileSettingsForm #profileSettingsForm [profile]="profile"></ProfileSettingsForm>
    </div>
</ion-content>
