<ion-header>
    <ion-navbar>
        <span
            class="signup-skip float-right reverse"
            *ngIf="skipDisplay"
            (click)="skip()"
        >Skip</span>
    </ion-navbar>
</ion-header>

<ion-content class="bg-holiday--red">
    <ion-slides #SignupSlider
                [options]="options"
                (ionDidChange)="onSlideChanged()">
        <ion-slide *ngIf="!emailSet">
            <SignupEmail></SignupEmail>
        </ion-slide>
        <ion-slide>
            <SignupName></SignupName>
        </ion-slide>
        <ion-slide>
            <SignupAge [name]="name"></SignupAge>
        </ion-slide>
        <ion-slide>
            <SignupGender></SignupGender>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer padded class="bg-holiday--frame-green">

</ion-footer>
