page-signup {

    ion-header {
        .toolbar-background {
            background: transparent;
            border: none;
        }
        .bar-button-default {
            color: #FFF;
        }

        &:after {
            display: none !important;
        }
        .signup-skip {
            font-size: 1.4rem;
            line-height: 3.2rem;
            margin: 0;
            padding: 0 1rem;
            @include AnimateFadeIn;
        }
    }

    .scroll-content {
        padding-bottom: 0 !important;
    }

    .swiper-slide {
        align-items: flex-start;
    }

    .signup-note {
        //margin-top: 2em;
        margin: 1em auto 0;
        font-size: 1.2rem;
    }

}

.signup-container {
    h2 {
        font-size: 2.5rem;
        margin: 0.5em auto;
    }
    h5 {
        margin-top: 0;
    }
    @media all and (min-height: 667px) {
        padding-top: 4rem;
    }
}

.form-signup {
    .item {
        background-color: transparent;
        .item-inner {
            padding: 0;
            box-shadow: none !important;
            border-color: #FFF !important;
        }
    }
    ion-item {
        padding-left:0;
    }
    ion-label, .label-ios, .label-md, .label-wp  {
        color: #FFF;
        font-weight: 400;
        text-align: center;
        transition: all $speed $ease;
        //transform: translate3d(0, 225%, 0) scale(1.6);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        //transform-origin: center top;
        margin-right: 0;
        margin-top: 1rem;

        font-size: 2rem;
        top: 1em;
    }

    input.text-input {
        padding-left: 0;
        padding-right: 0;
        color: #FFF;
        text-align: center;
        font-weight: 700;
        font-size: 2.4rem;
        height: 3.6rem;
        line-height: 3.6rem;
        transition: all $speed $ease;
        @include placeholder {
            color: #FFF;
            opacity: 1;
        }
    }

    .input-has-focus {
        ion-label, .label-ios, .label-md, .label-wp {
            color: #FFF;
        }
    }

    .ng-valid, .input-has-focus {
        &.item-md, .item-ios, .item-wp {
            &.item-input.ng-valid.input-has-value .item-inner {
                box-shadow: none;
                border-color: #FFF;
            }
        }
    }

    .item-label-stacked {
        input.text-input {
            margin: 2rem 0 1rem;
            width: 100%;
        }
    }

    .shrink, .shrink-lg {
        input.text-input {
            font-size: 2rem;
        }
    }
    .shrink-md {
        input.text-input {
            font-size: 1.6rem;
        }
    }
    .shrink-sm {
        input.text-input {
            font-size: 1.2rem;
        }
    }

    .input-has-focus, .ng-dirty {
        .item-inner {
            box-shadow: none;
        }
        ion-label {
            color: #FFF;
            opacity: 0.75;
            //transform: translate3d(0, 0, 0) scale(1);
            top: -1rem;
            font-size: 1.2rem;
        }
    }
}

.signup-gender--icons {
    padding: 1em 0 0;
}

.signup-gender--icon {
    padding: 0 0.5em;
}

html.flexbox {
    .signup-gender--icon, .signup-gender--or {
        display: flex;
        float: none;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    .signup-gender--or {
        margin: 0 -0.5em;
        span {
            margin-top: -1em;
        }
    }

}
html.no-flexbox {
    .signup-gender--or {
        margin-top:3em;
    }
}
