.profile-wishlist--card {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

    .profile-wishlist--card-inner {
        padding: 1rem;
    }
    .profile-wishlist--card-name, .profile-wishlist--card-price {
        padding-top: 0.5em;
    }
    p {
        line-height: 1.2em;
    }
}
