<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"Wish List" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="profile-wishlist section-settings bg--grey-light">
    <ProfileHeader title="Favourite Items" [profile]="profile"></ProfileHeader>
    <div class="container">
        <!--Load Profile-specific Wishlist items-->
        <div class="profile-wishlist--card bg--white">
            <div class="profile-wishlist--card-inner wrapper clearfix">
                <div class="profile-wishlist--card-thumbnail col-xs-3 no-padding">
                    <img src="assets/img/action-figures/spiderman.png" />
                </div>
                <div class="profile-wishlist--card-name col-xs-6">
                    <p>Spider-Man: The Game</p>
                </div>
                <div class="profile-wishlist--card-price col-xs-3 text-right no-padding">
                    <p><strong>$59.99</strong></p>
                </div>
            </div>
        </div>
        <div class="profile-wishlist--card bg--white">
            <div class="profile-wishlist--card-inner wrapper clearfix">
                <div class="profile-wishlist--card-thumbnail col-xs-3 no-padding">
                    <img src="assets/img/electronics/microattack.png" />
                </div>
                <div class="profile-wishlist--card-name col-xs-6">
                    <p>MicroAttack Copter</p>
                </div>
                <div class="profile-wishlist--card-price col-xs-3 text-right no-padding">
                    <p><strong>$119.99</strong></p>
                </div>
            </div>
        </div>
        <div class="profile-wishlist--card bg--white">
            <div class="profile-wishlist--card-inner wrapper clearfix">
                <div class="profile-wishlist--card-thumbnail col-xs-3 no-padding">
                    <img src="assets/img/nerf-guns/ionfire.png" />
                </div>
                <div class="profile-wishlist--card-name col-xs-6">
                    <p>NERF Initium IonFire</p>
                </div>
                <div class="profile-wishlist--card-price col-xs-3 text-right no-padding">
                    <p><strong>$24.99</strong></p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
