<div class="container signup-container reverse text-center">
    <h5 class="text-light">Optional</h5>
    <h2>How old is <span [ngClass]="{'small': name && name.length > 10}">{{name}}?</span></h2>

    <form
        [formGroup]="signup"
        #signupForm="ngForm"
        class="form-signup"
        (submit)="handleSubmit($event)">
        <ion-item>
            <ion-label stacked>Age</ion-label>
            <ion-input
                type="tel"
                min="1"
                max="99"
                formControlName="age">

            </ion-input>
        </ion-item>
    </form>

    <p class="signup-note faded">This info helps personalize items in the catalogue</p>

    <SignupNext
        (click)="parentSliderNext()">
    </SignupNext>

</div>
